<h1>{{title}}</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/adduser" routerLinkActive="active"> Add user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userlist" routerLinkActive="active">User list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userprofile" routerLinkActive="active">User profile</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>